<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Document</title>
</head>
<body>
      <h2>We are learning springBoot</h2>
		  <h2 th:text="${ #strings.toUpperCase(name) }"></h2>
		  <h2 th:text="${currentDate}"></h2>
		  
		  <p> Name of the owner is:<span th:text="${name}"></span>  </p>
		  <p> Length of the name is =<span th:text="${ #strings.length(name) }"></span>  </p>
		  
		  <div th:with="a=5,b=6, n=${name}">
			  
			  <h1> Value of a is <span th:text="${a}"></span> </h1>
			  <h1 th:text=" 'Value of b is ' +${b}"> </h1>
			  <h1> Local value of n is <span th:text="${n}"> </span> </h1> 
			  <h1 th:text=" 'sum of '+${a}+ ' and '+${b}+ ' is ' +${a+b} "> </h1>
			  
		  </div>
		  
		   <h1> Value of a is <span th:text="${a}"></span> </h1> 
		   
		
		   
		       
</body>
</html>